<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.CategoryDao">
    <sql id="categoryList">
        <if test="state != null">
            AND STATE = #{state}
        </if>
    </sql>

    <select id="getListCategory" resultType="com.jamie.home.api.model.CATEGORY">
        SELECT *
        FROM CATEGORY
        WHERE 1=1
        <include refid="categoryList"></include>
        ORDER BY SEQ
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListCategoryCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CATEGORY
        WHERE 1=1
        <include refid="categoryList"></include>
    </select>

    <select id="getCategoryWithKeyword" resultMap="CategoryMap">
        SELECT C.CATEGORY, C.NAME, C.SEQ, C.STATE ,C.ICON,
            CC.CLASSIFICATION AS CC_CLASSIFICATION, CC.NAME AS CC_NAME, CC.SEQ AS CC_SEQ, CC.STATE AS CC_STATE,
            CK.KEYWORD AS CK_KEYWORD, CK.NAME AS CK_NAME
        FROM CATEGORY C
            LEFT JOIN CATEGORY_CLASSIFICATION CC on C.CATEGORY = CC.CATEGORY
            LEFT JOIN CATEGORY_KEYWORD CK on C.CATEGORY = CK.CATEGORY AND CC.CLASSIFICATION = CK.CLASSIFICATION
        WHERE C.CATEGORY = #{category}
        <if test="state != null">
            AND C.STATE = #{state}
            AND IFNULL(CC.STATE,1) = #{state}
        </if>
        ORDER BY C.SEQ, CC.SEQ, CK.KEYWORD
    </select>

    <select id="getCategoryWithKeywordList" resultMap="CategoryMap">
        SELECT C.CATEGORY, C.NAME, C.SEQ, C.STATE ,C.ICON,
        CC.CLASSIFICATION AS CC_CLASSIFICATION, CC.NAME AS CC_NAME, CC.SEQ AS CC_SEQ, CC.STATE AS CC_STATE,
        CK.KEYWORD AS CK_KEYWORD, CK.NAME AS CK_NAME
        FROM CATEGORY C
        LEFT JOIN CATEGORY_CLASSIFICATION CC on C.CATEGORY = CC.CATEGORY
        LEFT JOIN CATEGORY_KEYWORD CK on C.CATEGORY = CK.CATEGORY AND CC.CLASSIFICATION = CK.CLASSIFICATION
        WHERE 1=1
        <if test="state != null">
            AND C.STATE = #{state}
            AND IFNULL(CC.STATE,1) = #{state}
        </if>
        ORDER BY C.SEQ, CC.SEQ, CK.KEYWORD
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <insert id="insertCategory" parameterType="com.jamie.home.api.model.CATEGORY" useGeneratedKeys="true" keyProperty="category">
        INSERT INTO CATEGORY
            (NAME, SEQ, STATE, ICON)
        VALUES
            (#{name}, #{seq}, #{state}, #{icon})
    </insert>

    <insert id="insertCategoryClassification" parameterType="com.jamie.home.api.model.CATEGORY_CLASSIFICATION" useGeneratedKeys="true" keyProperty="classification">
        INSERT INTO CATEGORY_CLASSIFICATION
            (CATEGORY, NAME, SEQ, STATE)
        VALUES
            (#{category}, #{name}, #{seq}, #{state})
    </insert>

    <insert id="insertCategoryKeywords">
        INSERT INTO CATEGORY_KEYWORD (CATEGORY, CLASSIFICATION, NAME) VALUES
        <foreach collection="keywords" item="keyword" separator=",">
            (#{category}, #{classification}, #{keyword.name})
        </foreach>
    </insert>

    <update id="updateCategory">
        UPDATE CATEGORY SET
            NAME = #{name}
            ,SEQ = #{seq}
            ,STATE = #{state}
            ,ICON = #{icon}
            ,UPDDATE = NOW()
        WHERE 1=1
            AND CATEGORY = #{category}
    </update>

    <delete id="deleteAllClassifications">
        DELETE FROM CATEGORY_CLASSIFICATION WHERE CATEGORY = #{category}
    </delete>

    <delete id="deleteAllKeywords">
        DELETE FROM CATEGORY_KEYWORD WHERE CATEGORY = #{category}
    </delete>

    <select id="listCategoryRank" resultType="com.jamie.home.api.model.CATEGORY">
        SELECT CATEGORY, COUNT(CATEGORY) AS CNT FROM REVIEW
        GROUP BY CATEGORY
        ORDER BY COUNT(CATEGORY) DESC
        LIMIT 8
    </select>

    <select id="listReviewKeywordRank" resultType="com.jamie.home.api.model.KEYWORD">
        SELECT KEYWORD, COUNT(KEYWORD) AS CNT  FROM REVIEW_KEYWORD
        GROUP BY KEYWORD
        ORDER BY COUNT(KEYWORD) DESC
        LIMIT 8
    </select>

    <select id="listQuestionKeywordRank" resultType="com.jamie.home.api.model.KEYWORD">
        SELECT KEYWORD, COUNT(KEYWORD) AS CNT  FROM QUESTION_KEYWORD
        GROUP BY KEYWORD
        ORDER BY COUNT(KEYWORD) DESC
        LIMIT 8
    </select>

    <select id="getKeyword" resultType="com.jamie.home.api.model.KEYWORD">
        SELECT * FROM CATEGORY_KEYWORD WHERE KEYWORD = #{keyword}
    </select>

    <resultMap id="CategoryMap" type="com.jamie.home.api.model.CATEGORY">
        <result column="CATEGORY" property="category"/>
        <result column="NAME" property="name"/>
        <result column="SEQ" property="seq"/>
        <result column="STATE" property="state"/>
        <result column="ICON" property="icon"/>
        <collection property="classifications" ofType="com.jamie.home.api.model.CATEGORY_CLASSIFICATION">
            <result column="CC_CLASSIFICATION" property="classification"/>
            <result column="CC_NAME" property="name"/>
            <result column="CC_SEQ" property="seq"/>
            <result column="CC_STATE" property="state"/>
            <collection property="keywords" ofType="com.jamie.home.api.model.CATEGORY_KEYWORD">
                <result column="CK_KEYWORD" property="keyword"/>
                <result column="CK_NAME" property="name"/>
            </collection>
        </collection>
    </resultMap>
</mapper>