<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.CategoryDao">
    <sql id="categoryList">
        <if test="state != null">
            AND STATE = #{state}
        </if>
    </sql>

    <select id="getListCategory" resultType="com.jamie.home.api.model.CATEGORY">
        SELECT *
        FROM CATEGORY
        WHERE 1=1
        <include refid="categoryList"></include>
        ORDER BY SEQ
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListCategoryCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CATEGORY
        WHERE 1=1
        <include refid="categoryList"></include>
    </select>

    <select id="getCategoryWithKeyword" resultMap="CategoryMap">
        SELECT C.CATEGORY, C.NAME, C.SEQ, C.STATE ,C.ICON,
            CC.CLASSIFICATION AS CC_CLASSIFICATION, CC.NAME AS CC_NAME, CC.SEQ AS CC_SEQ, CC.STATE AS CC_STATE,
            CK.KEYWORD AS CK_KEYWORD, CK.NAME AS CK_NAME
        FROM CATEGORY C
            LEFT JOIN CATEGORY_CLASSIFICATION CC on C.CATEGORY = CC.CATEGORY
            LEFT JOIN CATEGORY_KEYWORD CK on C.CATEGORY = CK.CATEGORY AND CC.CLASSIFICATION = CK.CLASSIFICATION
        WHERE C.CATEGORY = #{category}
        <if test="state != null">
            AND C.STATE = #{state}
            AND IFNULL(CC.STATE,1) = #{state}
        </if>
        ORDER BY C.SEQ, CC.SEQ, CK.KEYWORD
    </select>

    <select id="getCategoryWithKeywordList" resultMap="CategoryMap">
        SELECT C.CATEGORY, C.NAME, C.SEQ, C.STATE ,C.ICON,
        CC.CLASSIFICATION AS CC_CLASSIFICATION, CC.NAME AS CC_NAME, CC.SEQ AS CC_SEQ, CC.STATE AS CC_STATE,
        CK.KEYWORD AS CK_KEYWORD, CK.NAME AS CK_NAME
        FROM CATEGORY C
        LEFT JOIN CATEGORY_CLASSIFICATION CC on C.CATEGORY = CC.CATEGORY
        LEFT JOIN CATEGORY_KEYWORD CK on C.CATEGORY = CK.CATEGORY AND CC.CLASSIFICATION = CK.CLASSIFICATION
        WHERE 1=1
        <if test="state != null">
            AND C.STATE = #{state}
            AND IFNULL(CC.STATE,1) = #{state}
        </if>
        ORDER BY C.SEQ, CC.SEQ, CK.KEYWORD
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <resultMap id="CategoryMap" type="com.jamie.home.api.model.CATEGORY">
        <result column="CATEGORY" property="category"/>
        <result column="NAME" property="name"/>
        <result column="SEQ" property="seq"/>
        <result column="STATE" property="state"/>
        <result column="ICON" property="icon"/>
        <collection property="classifications" ofType="com.jamie.home.api.model.CATEGORY_CLASSIFICATION">
            <result column="CC_CLASSIFICATION" property="classification"/>
            <result column="CC_NAME" property="name"/>
            <result column="CC_SEQ" property="seq"/>
            <result column="CC_STATE" property="state"/>
            <collection property="keywords" ofType="com.jamie.home.api.model.CATEGORY_KEYWORD">
                <result column="CK_KEYWORD" property="keyword"/>
                <result column="CK_NAME" property="name"/>
            </collection>
        </collection>
    </resultMap>
</mapper>