<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.InfoDao">
    <sql id="infoList">
        <if test="member != null">
            AND MEMBER = #{member}
        </if>
        <if test="type != null">
            AND `KEY` = #{key}
            AND TYPE = #{type}
        </if>
        <if test="del != null">
            AND DEL = #{del}
        </if>
    </sql>
    <select id="getListInfo" resultType="com.jamie.home.api.model.INFO">
        SELECT *
        FROM INFO
        WHERE 1=1
        <include refid="infoList"></include>
        ORDER BY INFO DESC
    </select>

    <select id="getListInfoCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM INFO
        WHERE 1=1
        <include refid="infoList"></include>
    </select>
    
    <insert id="insertInfo">
        INSERT INTO INFO
            (MEMBER, `KEY`, TITLE, CONTENT, THUMB, TYPE)
        VALUES
        <if test="memberList == null">
            (#{member}, #{key}, #{title}, #{content}, #{thumb}, #{type})
        </if>
        <if test="memberList != null">
            <foreach collection="memberList" item="member" separator=",">
                (#{member.member},
                #{member.member},
                '이번 달 환급 가능 금액이 늘어났어요. 지금 확인하고 환급 신청해 보세요!',
                '',
                '[{"name":"point_transfer.png","uuid":"point_transfer","path":"/image/mypage/point_transfer.png"}]',
                '6')
            </foreach>
        </if>
    </insert>

    <update id="updateInfo">
        UPDATE INFO SET
            UPDDATE = now()
        <if test="del != null">
            ,DEL = #{del}
        </if>
        <if test="show != null">
            ,SHOW = #{show}
        </if>
        WHERE 1=1
            AND MEMBER = #{member}
        <if test="info != null">
            AND INFO = #{info}
        </if>
    </update>
</mapper>