<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.PointDao">
    <sql id="pointList">
        <if test="member != null">
            AND MEMBER = #{member}
        </if>
    </sql>
    <select id="getListPoint" resultType="com.jamie.home.api.model.POINT">
        SELECT *
        FROM POINT
        WHERE 1=1
        <include refid="pointList"></include>
        ORDER BY POINT DESC
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListPointCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM POINT
        WHERE 1=1
        <include refid="pointList"></include>
    </select>
    
    <insert id="insertPoint">
        INSERT INTO POINT
            (MEMBER, TYPE, VALUE, CONTENT, STATE)
        VALUES
            (#{member},#{type},#{value},#{content},#{state});
    </insert>

    <update id="updatePointState">
        UPDATE POINT SET STATE = #{state} WHERE POINT = #{point}
    </update>

    <select id="getAdminValue" resultType="java.lang.Integer">
        SELECT VALUE FROM ADMIN WHERE TYPE = #{type}
    </select>

    <select id="getListPointMinusTot" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(VALUE),0)
            FROM POINT
        WHERE 1=1
            AND REGDATE >= LAST_DAY(NOW() - interval 1 month) + interval 1 DAY
            AND STATE = '1'
            AND TYPE = '2'
    </select>
</mapper>