<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.ReviewDao">
    <sql id="reviewList">
        <if test="searchKeyword != null">
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'review'.toString()">
                        AND R.REVIEW LIKE CONCAT('%',#{searchKeyword},'%')
                    </when>
                    <when test="searchType == 'brand'.toString()">
                        AND R.BRAND LIKE CONCAT('%',#{searchKeyword},'%')
                    </when>
                    <when test="searchType == 'name'.toString()">
                        AND R.NAME LIKE CONCAT('%',#{searchKeyword},'%')
                    </when>
                    <when test="searchType == 'nickname'.toString()">
                        AND M.NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
                    </when>
                </choose>
            </if>
            <if test="searchType == null">
                AND (
                    R.NAME LIKE CONCAT('%',#{searchKeyword},'%') OR
                    R.MNUMBER LIKE CONCAT('%',#{searchKeyword},'%') OR
                    R.BRAND LIKE CONCAT('%',#{searchKeyword},'%') OR
                    R.KEYWORDS LIKE CONCAT('%"',#{searchKeyword},'"%')
                )
            </if>
        </if>
        <if test="category != null">
            AND R.CATEGORY = #{category}
        </if>
        <if test="videoYn">
            AND R.VIDEO != '[]'
        </if>
        <if test="state != null">
            AND R.STATE = #{state}
        </if>
        <if test="keywordList != null">
            AND (
            <foreach collection="keywordList" item="keyword" separator="OR">
                <choose>
                    <when test="keyword.type == '1'.toString()">
                        R.KEYWORDS LIKE CONCAT('%"',#{keyword.value},'"%')
                    </when>
                    <when test="keyword.type == '2'.toString()">
                        #{keyword.key} IN (SELECT KEYWORD FROM REVIEW_KEYWORD WHERE REVIEW = R.REVIEW)
                    </when>
                    <otherwise>
                        1 = 0
                    </otherwise>
                </choose>
            </foreach>
            )
        </if>
        <if test="reviewMember != null">
            AND R.MEMBER = #{reviewMember}
        </if>
        <if test="likeMember != null">
            AND R.REVIEW IN (SELECT REVIEW FROM REVIEW_LIKE WHERE MEMBER = #{likeMember} AND DEL = 0)
            AND R.STATE = '2'
        </if>
    </sql>
    <sql id="reviewListOrder">
        ORDER BY
        <if test="keywordList != null">
            KEYWORD_CNT DESC,
        </if>
        <if test="orderType != null">
            <choose>
                <when test="orderType == 'reg_date_desc'.toString()">R.REGDATE DESC, </when>
                <when test="orderType == 'like_desc'.toString()">LIKE_TOT DESC, </when>
                <when test="orderType == 'hits_desc'.toString()">R.HITS DESC, </when>
                <when test="orderType == 'report_desc'.toString()">REPORT_CNT DESC, </when>
            </choose>
        </if>
        R.REVIEW DESC
    </sql>
    <select id="getListReview" resultMap="ReviewMap">
        SELECT GET_REVIEW_KEYWORD(R.REVIEW, R.MEMBER) AS KEYWORDS, R.*
        <if test="member != null">
            ,(SELECT COUNT(*) FROM REVIEW_LIKE RL WHERE RL.REVIEW = R.REVIEW AND RL.MEMBER = #{member} AND DEL = 0) LIKE_YN
        </if>
            ,(SELECT COUNT(*) FROM REVIEW_LIKE RL WHERE RL.REVIEW = R.REVIEW AND DEL = 0) LIKE_TOT
            ,(SELECT COUNT(*) FROM REVIEW_REPLY RR WHERE RR.REVIEW = R.REVIEW) REPLY_TOT
            ,(SELECT NAME FROM CATEGORY C WHERE C.CATEGORY = R.CATEGORY) CATEGORY_NAME
            ,(SELECT COUNT(*) FROM REPORT WHERE `KEY` = R.REVIEW AND TYPE = '1') REPORT_CNT
            ,(SELECT COUNT(*) FROM INFO WHERE TYPE = 1 AND `KEY` = R.REVIEW) MODI_CNT
            ,M.PROFILE MEMBER_PROFILE
            ,M.NAME MEMBER_NAME
            ,M.NICKNAME MEMBER_NICKNAME
            ,GET_MEMBER_KEYWORD(M.MEMBER) AS MEMBER_KEYWORDS
        <if test="keywordList != null">
            ,(
            <foreach collection="keywordList" item="keyword" separator="+">
                <choose>
                    <when test="keyword.type == '1'.toString()">
                        (SELECT COUNT(*) FROM REVIEW WHERE REVIEW = R.REVIEW AND R.KEYWORDS LIKE CONCAT('%"',#{keyword.value},'"%'))
                    </when>
                    <when test="keyword.type == '2'.toString()">
                        (SELECT COUNT(*) FROM REVIEW WHERE REVIEW = R.REVIEW AND #{keyword.key} IN (SELECT KEYWORD FROM REVIEW_KEYWORD WHERE REVIEW = R.REVIEW))
                    </when>
                    <otherwise>
                        0
                    </otherwise>
                </choose>
            </foreach>
            ) AS KEYWORD_CNT
        </if>
        FROM REVIEW R
            LEFT JOIN MEMBER M on R.MEMBER = M.MEMBER
        WHERE 1=1
        <include refid="reviewList"></include>
        <include refid="reviewListOrder"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListReviewCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM REVIEW R
            LEFT JOIN MEMBER M on R.MEMBER = M.MEMBER
        WHERE 1=1
        <include refid="reviewList"></include>
    </select>

    <select id="getReview" resultMap="ReviewMap">
        SELECT GET_REVIEW_KEYWORD(R.REVIEW, R.MEMBER) AS KEYWORDS, R.*
        <if test="member != null">
            ,(SELECT COUNT(*) FROM REVIEW_LIKE RL WHERE RL.REVIEW = R.REVIEW AND RL.MEMBER = #{member} AND DEL = 0) LIKE_YN
        </if>
            ,(SELECT COUNT(*) FROM REVIEW_LIKE RL WHERE RL.REVIEW = R.REVIEW AND DEL = 0) LIKE_TOT
            ,(SELECT COUNT(*) FROM REVIEW_REPLY RR WHERE RR.REVIEW = R.REVIEW) REPLY_TOT
            ,(SELECT NAME FROM CATEGORY C WHERE C.CATEGORY = R.CATEGORY) CATEGORY_NAME
            ,(SELECT COUNT(*) FROM REPORT WHERE `KEY` = R.REVIEW AND TYPE = '1') REPORT_CNT
            ,(SELECT COUNT(*) FROM INFO WHERE TYPE = 1 AND `KEY` = R.REVIEW) MODI_CNT
            ,M.PROFILE MEMBER_PROFILE
            ,M.NAME MEMBER_NAME
            ,M.NICKNAME MEMBER_NICKNAME
            ,GET_MEMBER_KEYWORD(M.MEMBER) AS MEMBER_KEYWORDS
        FROM REVIEW R
            LEFT JOIN MEMBER M on R.MEMBER = M.MEMBER
        WHERE 1=1
            AND R.REVIEW = #{review}
    </select>

    <update id="updateReviewHits">
        UPDATE REVIEW SET
            HITS = HITS + 1
        WHERE REVIEW = #{review}
    </update>

    <insert id="insertReview" parameterType="com.jamie.home.api.model.REVIEW" useGeneratedKeys="true" keyProperty="review">
        INSERT INTO REVIEW (
            MEMBER, CATEGORY, BRAND, NAME, MNUMBER, PHOTO, VIDEO,
            GRADE, MOTIVE, PLUS, MINUS,
            PROPOSER, STORE, PRICE, LINK, USETIME, TIP, KEYWORDS
        ) VALUES (
            #{member}, #{category}, #{brand}, #{name}, #{mnumber}, #{photo}, #{video},
            #{grade}, #{motive}, #{plus}, #{minus},
            #{proposer}, #{store}, #{price}, #{link}, #{usetime}, #{tip}, #{keywords}
        )
    </insert>

    <update id="updateReview">
        UPDATE REVIEW SET
            CATEGORY = #{category}
            ,BRAND = #{brand}
            ,NAME = #{name}
            ,MNUMBER = #{mnumber}
            ,PHOTO = #{photo}
            ,VIDEO = #{video}
            ,GRADE = #{grade}
            ,MOTIVE = #{motive}
            ,PLUS = #{plus}
            ,MINUS = #{minus}
            ,PROPOSER = #{proposer}
            ,STORE = #{store}
            ,PRICE = #{price}
            ,LINK = #{link}
            ,USETIME = #{usetime}
            ,TIP = #{tip}
            ,KEYWORDS = #{keywords}
            ,STATE = #{state}
            ,UPDDATE = now()
        WHERE REVIEW = #{review}
    </update>

    <update id="upsertReviewlike">
        INSERT INTO REVIEW_LIKE (REVIEW, MEMBER)
        VALUES (#{review}, #{member})
        ON DUPLICATE KEY UPDATE DEL = !DEL, UPDDATE = NOW()
    </update>

    <insert id="insertReviewReply">
        INSERT INTO REVIEW_REPLY (
            REVIEW, MEMBER, CONTENT
        <if test="reply_key != null">
            , REPLY_KEY
        </if>
        ) VALUES (
            #{review}, #{member}, #{content}
        <if test="reply_key != null">
            , #{reply_key}
        </if>
        )
    </insert>

    <select id="getListReviewReply" resultMap="ReplyMap">
        SELECT RR.*,
            M.MEMBER AS MEMBER_MEMBER,
            M.PROFILE AS MEMBER_PROFILE,
            M.NAME AS MEMBER_NAME,
            M.NICKNAME AS MEMBER_NICKNAME,
            GET_MEMBER_KEYWORD(M.MEMBER) AS MEMBER_KEYWORDS
        FROM REVIEW_REPLY RR
            LEFT JOIN MEMBER M on RR.MEMBER = M.MEMBER
        WHERE 1=1
            AND RR.REVIEW = #{review}
        <if test="reply_key == null">
            AND RR.REPLY_KEY IS NULL
        </if>
        <if test="reply_key != null">
            AND RR.REPLY_KEY = #{reply_key}
        </if>
        ORDER BY RR.REPLY DESC
    </select>

    <select id="getListReviewReplyCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM REVIEW_REPLY
        WHERE 1=1
            AND REVIEW = #{review}
        <if test="reply_key == null">
            AND REPLY_KEY IS NULL
        </if>
        <if test="reply_key != null">
            AND REPLY_KEY = #{reply_key}
        </if>
    </select>

    <update id="updateReviewState">
        UPDATE REVIEW SET STATE = #{state} WHERE REVIEW = #{review}
    </update>

    <insert id="insertReviewKeywrod">
        INSERT INTO REVIEW_KEYWORD (REVIEW, KEYWORD) VALUES
        <foreach collection="review_keywords" item="keyword" separator=",">
            (#{review}, #{keyword.keyword})
        </foreach>
    </insert>

    <delete id="deleteAllReviewKeywrod">
        DELETE FROM REVIEW_KEYWORD WHERE REVIEW = #{review}
    </delete>

    <delete id="deleteReply">
        DELETE FROM REVIEW_REPLY WHERE REPLY = #{reply}
    </delete>

    <select id="getReviewReply" resultType="com.jamie.home.api.model.REVIEW_REPLY">
        SELECT * FROM REVIEW_REPLY WHERE REPLY = #{reply}
    </select>

    <resultMap id="ReviewMap" type="com.jamie.home.api.model.REVIEW">
        <result column="REVIEW" property="review"/>
        <result column="MEMBER" property="member"/>
        <result column="CATEGORY" property="category"/>
        <result column="BRAND" property="brand"/>
        <result column="NAME" property="name"/>
        <result column="MNUMBER" property="mnumber"/>
        <result column="PHOTO" property="photo"/>
        <result column="VIDEO" property="video"/>
        <result column="GRADE" property="grade"/>
        <result column="MOTIVE" property="motive"/>
        <result column="PLUS" property="plus"/>
        <result column="MINUS" property="minus"/>
        <result column="PROPOSER" property="proposer"/>
        <result column="STORE" property="store"/>
        <result column="PRICE" property="price"/>
        <result column="LINK" property="link"/>
        <result column="USETIME" property="usetime"/>
        <result column="TIP" property="tip"/>
        <result column="HITS" property="hits"/>
        <result column="STATE" property="state"/>
        <result column="KEYWORDS" property="keywords"/>
        <result column="REGDATE" property="regdate"/>
        <result column="UPDDATE" property="upddate"/>
        <result column="LIKE_YN" property="likeYn"/>
        <result column="LIKE_TOT" property="likeCnt"/>
        <result column="REPLY_TOT" property="replyCnt"/>
        <result column="REPORT_CNT" property="reportCnt"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="KEYWORD_CNT" property="keywordCnt"/>
        <result column="MODI_CNT" property="modiCnt"/>
        <association property="memberVO" column="MEMBER" javaType="com.jamie.home.api.model.MEMBER">
            <result column="MEMBER_PROFILE" property="profile"/>
            <result column="MEMBER_NAME" property="name"/>
            <result column="MEMBER_NICKNAME" property="nickname"/>
            <result column="MEMBER_KEYWORDS" property="keywords"/>
        </association>
    </resultMap>

    <resultMap id="ReplyMap" type="com.jamie.home.api.model.REVIEW_REPLY">
        <result column="REPLY" property="reply"/>
        <result column="REVIEW" property="review"/>
        <result column="MEMBER" property="member"/>
        <result column="CONTENT" property="content"/>
        <association property="memberVO" column="MEMBER" javaType="com.jamie.home.api.model.MEMBER">
            <result column="MEMBER_PROFILE" property="profile"/>
            <result column="MEMBER_NAME" property="name"/>
            <result column="MEMBER_NICKNAME" property="nickname"/>
            <result column="MEMBER_KEYWORDS" property="keywords"/>
        </association>
    </resultMap>
</mapper>