<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.SearchDao">
    <insert id="insertSearchKeyword">
        INSERT INTO SEARCH (KEYWORD) VALUES (#{searchKeyword})
    </insert>
    <update id="upsertSearchKeyword">
        INSERT INTO SEARCH (KEYWORD) VALUES
        (#{searchKeyword}) ON DUPLICATE KEY UPDATE VALUE = VALUE + 1, UPDDATE = NOW()
    </update>

    <select id="getListSearch" resultType="java.lang.String">
        SELECT KEYWORD, COUNT(*)
        FROM SEARCH
        WHERE DATE_FORMAT(REGDATE, '%Y%m') = DATE_FORMAT(NOW(), '%Y%m')
        GROUP BY KEYWORD
        ORDER BY COUNT(*) DESC
        LIMIT 0,5
    </select>
</mapper>